# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Flask/Gunicorn
instance/
.webassets-cache
.pytest_cache
*.log

# Project specific
backend/__pycache__/
frontend/callcenter/__pycache__/
frontend/ambulance_app/__pycache__/
frontend/location_share/__pycache__/
